<h1>配送先編集</h1>
<%= form_with model: @address, url: addresses_path do |f| %>

      <h3>郵便番号        <%= f.number_field :postal_code %>円</h3>
      <h3>住所            <%= f.text_field :address %></h3>
      <h3>氏名            <%= f.text_field :name %></h3>
      <%= f.submit '変更を保存', class: "btn btn-primary" %>
<% end %>
