<%= Order.payment_methods_i18n[@order.payment_method] %>
<h1>注文情報確認</h1>
<table>
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
      <th></th>
      <th>送料</th>
      <th>商品代金</th>
      <th>合計金額</th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>

          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal %></td>
          <td></td>
          <td><%= @postage %></td>
          <td><% @total += cart_item.subtotal %>
              <%= @total %>
          </td>
          <td><%= @total+@postage %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="border-top mt-3 pt-2 mb-1">支払方法<p><%= Order.payment_methods_i18n[@order.payment_method] %></p></div>

<div class="border-top mt-3 pt-2 mb-1">お届け先<p><%= @order.postal_code + " " + @order.address + "　" + @order.name %></p></div>
<%= link_to "購入確定", orders_complete_path, class: "btn btn-primary mt-3" %>